In [2]:
import pandas as pd

In [9]:
my_marks = pd.Series([45,56,86,53,34,61, 76], index=["Math", "Science", "Geog", "CRE", "Phy", "Comm", "Econ"])
print("Marks obtained by the student are : ", my_marks)

Marks obtained by the student are :  Math       45
Science    56
Geog       86
CRE        53
Phy        34
Comm       61
Econ       76
dtype: int64

In [8]:
df_marks = pd.DataFrame(my_marks, columns = ["student1"])
print("The dataframe created from the data series is: \n", df_marks)

The dataframe created from the data series is:
          student1
Math           45
Science        56
Geog           86
CRE            53
Phy            34
Comm           61
Econ           76

In [ ]:
#example for heights

In [13]:
heights = pd.Series([5.3,5.5,6.1,7.0],index=["John", "Moses", "Fred", "Agrey"])

In [15]:
weights = pd.Series([50,20,10,40],index=["John", "Moses", "Fred", "Agrey"])

In [19]:
df_person = pd.DataFrame({"Height":heights, "Weight":weights})
print("The personal details are \n ", df_person)

The personal details are
         Height  Weight
John      5.3      50
Moses     5.5      20
Fred      6.1      10
Agrey     7.0      40