In [1]:
import pandas as pd

In [2]:
# Converting a list into a data serie
first_list=[10,20,30,40]
first_serie=pd.Series(first_list)

In [3]:
# A data serie is like a 2 dimensional array
print('The series values are :', first_serie.values)

The series values are : [10 20 30 40]

In [4]:
print('The index values of the serie are:',first_serie.index.values)

The index values of the serie are: [0 1 2 3]

In [10]:
second_serie=pd.Series(first_list,index=["Uganda",'Kenya','Tanzania','Rwanda'])

In [9]:
print('Drinking competition',second_serie)

Drinking competition Uganda      10
Kenya       20
Tanzania    30
Rwanda      40
dtype: int64

In [7]:
serie_copy=second_serie[1:2]
print(serie_copy)

Kenya    20
dtype: int64

In [11]:
print(second_serie['Kenya'])

20

In [12]:
# converting a dictionary to a data serie
fruits={'apples':10,'bananas':20,'grapes':30,'pineapples':40,'watermelons':50,'kiwi':60,'pawpaws':70,}