In [36]:
import pandas as pd

In [37]:
# Converting a list into a data serie
first_list=[10,20,30,40]
first_serie=pd.Series(first_list)

In [38]:
# A data serie is like a 2 dimensional array
print('The series values are :', first_serie.values)

The series values are : [10 20 30 40]

In [39]:
print('The index values of the serie are:',first_serie.index.values)

The index values of the serie are: [0 1 2 3]

In [40]:
second_serie=pd.Series(first_list,index=["Uganda",'Kenya','Tanzania','Rwanda'])

In [41]:
print('Drinking competition',second_serie)

Drinking competition Uganda      10
Kenya       20
Tanzania    30
Rwanda      40
dtype: int64

In [42]:
serie_copy=second_serie[1:2]
print(serie_copy)

Kenya    20
dtype: int64

In [43]:
print(second_serie['Kenya'])

20

In [44]:
# converting a dictionary to a data serie
fruits={'apples':10,'bananas':20,'grapes':30,'pineapples':40,'watermelons':50,'kiwi':60,'pawpaws':70,}

In [45]:
third_series=pd.Series(fruits)

In [46]:
print('Fruits at home \n',third_series)

Fruits at home
 apples         10
bananas        20
grapes         30
pineapples     40
watermelons    50
kiwi           60
pawpaws        70
dtype: int64

In [48]:
print('We have',third_series['pineapples'],'pineapples at home')

We have 40 pineapples at home